body {
  background: #0f0f0f;
  font: sans-serif;
  color: white;
}
body a {
  text-decoration: none;
  color:#11ABB0;
}
body button {
  font-size: 50px;
  color: white;
  background-color: black;
  cursor: pointer;
  text-transform: uppercase
}
body button:hover {
  color: #11ABB0;
}
#ethereumDataMin {
 text-align: center;
 position: relative;
 overflow: hidden;
 padding-top: 5%;
 padding-bottom: 5%;
}
#ethereumDataMin h2 {
 color: white;
 font-size: 40px;
}
#ethereumDataMin h2 span {
  font-size: 44px;
  color: white;
  background-color: black;
  border: solid;
  border-color: #11ABBF;
}
#ethereumDataMin h3 {
  color: white;
}
#ethereumDataMin a {
  font-size: 30px;
}
#contact {
 padding-top: 5%;
 text-align: center;
 overflow: hidden;
}
#contact a {
  font-size: 50px;
  padding-right: 21px;
  padding-left: 21px;
}
