body {
  background: #010950;
  font: sans-serif;
  color: white;
}
body a {
  text-decoration: none;
  color:#11ABB0;
}
body button:hover {
  color: #11ABB0;
}
#contact {
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}
#contact-top h2 {
  font-size: 50px;
  margin-bottom: 100px;
}
#contact-top a {
  font-size: 80px;
  padding: 55px;
}
#c0n74c7 {
  padding-top: 5%;
  padding-bottom: 2%;
  padding-left: 41%;
  padding-right: 41%;
}
#c0n74c7 h3 {
  font-size: 40px;
  margin: 0%;
}
#text {
  font-size: 21px;
  padding-top: 2%;
}
#text a {
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
@media only screen and (max-width: 1000px) {
  #contact {
   text-align: center;
   padding-top: 10%;
  }
  #contact-top {
    padding-bottom: 15%;
  }
  #contact-top h2 {
    font-size: 33px;
    margin-bottom: 25%;
  }
  #contact-top a {
    font-size: 75px;
  }
  #c0n74c7 {
    padding-top: 5%;
    padding-bottom: 10%;
  }
  #text {
    padding-top: 10%;
    max-width: 100%;
  }
  #text a {
    font-size: 33px;
  }
  #text h4 {
    font-size: 28px;
  }
}